.tipBox{
  padding: 200px 0;
  display: flex;
  justify-content: center;
  .tipsNoResult{
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    .icon{
      width: 200px;
      height: 176px;
      margin-bottom: 20px;
    }
  }
}
