.scrollTopWrap{
  position: fixed;
  right: 10px;
  bottom: 160px;
  background: #FFFFFF;
  box-shadow: 0 3px 8px 0 rgba(200,200,200,0.50);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 999;
  color: #999999;
  text-align: center;
  // line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .arrowLeft{
    height: 55px;
    width: 50px;
    transform: rotate(90deg);
  }
}

.disN{
  display: none;
}
