@import "../utils/variables.scss";
@import "../utils/mixin.scss";
.searchHistory{
  color: #333333;
  overflow-x: hidden;
  .titleBlock{
    padding: 30px;
    border-bottom: 1px solid #cccccc;
    font-size: 30px;
  }

  .searchItems{
    font-size: 26px;
    padding: 30px;
    border-bottom: 1px solid #cccccc;
  }
}

.btn{
  color: #333333;
  border: 1px solid #ccc;
  letter-spacing: 0;
  height: 88px;
  width: 400px;
  text-align: center;
  @include font-dpr(30px);
  @include lh-dpr(78px);
  margin: 20px auto;
}
