@import "../utils/variables.scss";
@import "../utils/mixin.scss";
.mainTab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  width: 100%;
  padding: 0 30px;
  .mainTabLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .item {
      color: $color-text;
      @include font-dpr(30px);
      @include lh-dpr(78px);
      height: 80px;
      position: relative;
      white-space: nowrap;
      margin-right: 68px;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 4px;
        background: transparent;
      }
      &.active {
        color: $color-primary;
        &:before {
          background: $color-primary;
        }
      }
    }
  }
}
