@mixin font-dpr($font-size) {
  font-size: $font-size;
}

@mixin lh-dpr($line-height) {
  line-height: $line-height;
}

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin float($float:left) {
  float: $float;
}

%float-left {
  @include float;
}

%float-right {
  @include float(right);
}

// v arrow 方向箭头
@mixin v-arrow($direction: right, $borderWidth: 2px, $size: 18px) {
  display: inline-block;
  vertical-align: middle;
  width: $size;
  height: $size;
  @if $direction==top {
    border-top: $borderWidth solid currentColor;
    border-right: $borderWidth solid currentColor;
    transform: rotate(-45deg);
  }
  @else if $direction==right {
    border-top: $borderWidth solid currentColor;
    border-right: $borderWidth solid currentColor;
    transform: rotate(45deg);
  }
  @else if $direction==bottom {
    border-left: $borderWidth solid currentColor;
    border-bottom: $borderWidth solid currentColor;
    transform: rotate(-45deg);
  }
  @if $direction==left {
    border-left: $borderWidth solid currentColor;
    border-bottom: $borderWidth solid currentColor;
    transform: rotate(45deg);
  }
}

// v triangle 方向箭头
@mixin v-triangle($direction: right, $borderWidth: 11px) {
  display: inline-block;
  border: solid transparent;
  border-width: $borderWidth;
  @if $direction==top {
    border-bottom-color: currentColor;
  }
  @else if $direction==right {
    border-left-color: currentColor;
  }
  @else if $direction==bottom {
    border-top-color: currentColor;
  }
  @if $direction==left {
    border-right-color: currentColor;
  }
}


// ...
%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%ellipsis2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

%ellipsis3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

// border-box
%border-box {
  box-sizing: border-box;
}

%img-wrapper{
  font-size: 0;
}
