$fontFamily:               "PingFang SC", roto, arial, sans-serif !default;

// color
$color-primary:            #ff2d47; // 主题色
$color-title:              #333333; // 全局title字体颜色
$color-subtitle:           #999999; // 全局subtitle字体颜色
$color-entitle:            #666666;
$color-text:               #333333; // 全局text字体颜色
$color-border:             #cccccc; // 全局border颜色
$color-border-light:       #eeeeee;
$color-red:                #ff2d47;
$color-orange:             #ffb600;
$color-disabled:           #cccccc;

// Bg
$bg-primary: #f4f4f4;

// z-index
// 大层级z-index设置，页面内使用的层级值请低于555
$max-zindex:                1000; //最大的层级设定
$modal-zindex:              999;
$toast-zindex:              999;
$layer-modal-zindex:        888;
$layer-zindex:              666;
$bar-zindex:                555; //一般情况下层级低于layer的
