@import "../../utils/variables.scss";

.memberBlock {
  background: #fff;
  margin-bottom: 20px;
  .blockTitle {
    text-align: center;
    padding: 24px 0;
    .title {
      font-size: 30px;
      margin-bottom: 8px;
    }
    .subtitle {
      color: $color-entitle;
      font-size: 22px;
    }
  }
}
