.commentWrap{
  background: #ffffff;
  padding: 0 30px 88px 28px;
  position: relative;
  .barBottom{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f1f5;
    width: 100%;
    padding: 10px 30px;
    .textareaWrap{
      padding: 20px;
      background: #fff;
      .textareaContent{
        height: 68px;
      }
    }
    .btn{
      height: 68px;
      width: 90px;
      line-height: 68px;
      font-size: 26px;
      color: #fff;
      background: #FF2D47;
      margin-left: 20px;
    }
  }
}
