.wrap {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: auto;
  background: #f4f4f4;
}

.back{
  height: 60px;
  width: 60px;
  background: rgba(153,153,153,0.70);
  position: fixed;
  top: 20px;
  left: 30px;
  border-radius: 50%;
  z-index: 2;
}

.detailBox{
  margin-bottom: 20px;
  background: #F4F4F4;

  // 作者信息
  .authorColumnBox{
    padding: 26px 30px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .authorColumn{
      display: flex;
      .authorImg{
        height: 64px;
        width: 64px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .subtitle{
        font-size: 22px;
        color: #999999;
      }
    }
    .attentionBtn{
      height: 56px;
      width: 136px;
      background: #fff;
      border: 1px solid #FF2D47;
      line-height: 56px;
      border-radius: 2px;
      color: #FF2D47 ;
      font-size: 26px;
    }
  }

  // 话题内容
  .articleContent{
    padding: 0 30px;
    background: #fff;
    .content{
      padding-bottom: 24px;
    }
  }
  .articleTitleColumn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    .title{
      color: #333333;
      max-width: 540px;
      line-height: 42px;
      font-size: 30px;
      font-weight: 600;
    }
  }

  // 评论
  .commentWrap{
    padding: 0 30px 88px 30px;
    margin-top: 20px;
    background: #fff;
    .cardHeader{
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      line-height: 84px;
      border-bottom: 1px solid #cccccc;
      color: #333333;
    }
  }
  // 底部
  .bottomBar{
    position: fixed;
    bottom: 0px;
    height: 88px;
    border-top: 1px solid #cccccc;
  }
}

._ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

._ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
