.swiperContainer{
  height: 222px;
  background: #ffffff;
  padding-left: 30px;
}
.itemGoods{
  padding: 40px 0;
  width: 130px;
}
.authorColumn{
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  .authorAvatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.itemTitle{
  line-height: 22px;
  font-size: 26px;
  color: #333333;
  text-align: center;
}
