.brandMark {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 36px 30px;
  background: #ffffff;
  font-size: 26px;
  .item {
    display: flex;
    align-items: center;
    .itemImg {
      height: 36px;
      width: 36px;
      margin-right: 10px;
    }
  }
}
