@import "../../utils/variables.scss";
@import "../../utils/mixin.scss";
.item {
  position: relative;
  margin-bottom: 20px;
  height: 560px;
  width: 348px;
  background-color: #fff;
  border-radius: 8px;
  .media {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .img {
      width: 348px;
      height: 348px;
      border-radius: 8px;
    }
  }

  .info {
    position: relative;
    padding: 10px 20px 42px 20px;
    width: 348px;
    .infoTitle {
      color: #333;
      font-weight: 200;
      font-size: 26px;
      @extend %ellipsis;
    }
    .infoSubtitle {
      margin-top: 10px;
      font-weight: 200;
      font-size: 26px;
      line-height: 38px;
      color: #999;
      @extend %ellipsis;
    }
    .infoPrice {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .infoPriceText {
        font-weight: 500;
        font-size: 26px;
        color: #ff2d47;
      }
    }
  }
}
